
<h1>Welcome to the New Password page <%= user.name  %></h1>
<h2>Your new password is:</h2>
<i><%= password  %></i>
<p>You may copy-paste your new password, and we recommend you to change your password once you logged in.</p>

<button onclick="window.location='https://makecocktail.net/signin'">Go to the Sign in Page</button>


